// Bootstrap override
.form-control:focus,
.form-select:focus,
.form-check-input,
.btn:focus {
   box-shadow: unset !important;
}

.form-control,
.form-select {
   border-color: #ddd;
   color: #333;
}

.form-check-input {
   border-width: 2px;
   width: 1.2em;
   height: 1.2em;
}

.form-check-input[type=checkbox] {
   border-radius: 0.2em;
}

.form-check-input:checked[type=checkbox] {
   background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxNCAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyLjMzMzQgMUw1LjAwMDA4IDguMzMzMzNMMS42NjY3NSA1IiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K);
}

.text-primary {
   color: $primary-color;
}

.btn {
   font-size: 13px;
   padding: 6px 44px;
}

.bg-primary,
.btn-primary {
   background-color: $primary-color;
}

.bg-danger,
.btn-danger {
   background-color: $error-color;
}

.btn-danger {
   border-color: $error-color;
}

.bg-grey,
.btn-light {
   background-color: $grey-color;
}

.btn-light {
   border-color: $grey-color;
}
