$font-url: 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap';
$primary-font: 'Roboto',
sans-serif;

$primary-color: #276ef1;
$dark-color: #000000;
$text-color: #020918;
$light-grey-color: #f0f0f0;
$light-grey-color-2: #333333;
$grey-color: #eeeeee;
$error-color: #f56c6b;
$white-color: #ffffff;
$blue-color: #276ef1;
$success-color: #52c41a;
