@import './scss/variables';
@import './scss/mixins';

@import "./scss/overrides";
@import "./scss/utils";

@import url(#{$font-url});

/* color palette from <https://github.com/vuejs/theme> */
:root {
   --vt-c-white: #ffffff;
   --vt-c-white-soft: #f8f8f8;
   --vt-c-white-mute: #f2f2f2;

   --vt-c-black: #181818;
   --vt-c-black-soft: #222222;
   --vt-c-black-mute: #282828;

   --vt-c-indigo: #2c3e50;

   --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
   --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
   --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
   --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

   --vt-c-text-light-1: var(--vt-c-indigo);
   --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
   --vt-c-text-dark-1: var(--vt-c-white);
   --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
   --color-background: var(--vt-c-white);
   --color-background-soft: var(--vt-c-white-soft);
   --color-background-mute: var(--vt-c-white-mute);

   --color-border: var(--vt-c-divider-light-2);
   --color-border-hover: var(--vt-c-divider-light-1);

   --color-heading: var(--vt-c-text-light-1);
   --color-text: var(--vt-c-text-light-1);

   --section-gap: 160px;
}

:root {
   --font-primary: #{$primary-font};
   --color-primary: #{$primary-color};
   --color-dark: #{$dark-color};
   --color-heading: #{$dark-color};
   --color-text: #{$text-color};
   --color-light-grey: #{$light-grey-color};
   --color-light-grey-2: #{$light-grey-color-2};
   --color-grey: #{$grey-color};
   --color-error: #{$error-color};
   --color-success: #{$success-color};
   --color-white: #{$white-color};
   --color-blue: #{$blue-color};
}

@media (prefers-color-scheme: dark) {
   :root {
      --color-background: var(--vt-c-black);
      --color-background-soft: var(--vt-c-black-soft);
      --color-background-mute: var(--vt-c-black-mute);

      --color-border: var(--vt-c-divider-dark-2);
      --color-border-hover: var(--vt-c-divider-dark-1);

      --color-heading: var(--vt-c-text-dark-1);
      --color-text: var(--vt-c-text-dark-2);
   }
}

*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   position: relative;
   font-weight: normal;
}

html {
   scroll-behavior: smooth;
   font-size: 16px;

   @include responsive-max('sm') {
      font-size: 15px;
   }
}

body {
   min-height: 100vh;
   color: var(--color-text);
   background: var(--color-background);
   transition: color 0.3s, background-color 0.3s;
   line-height: 1.6;
   font-family: var(--font-primary);
   overflow-x: hidden;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

img {
   max-width: 100%;
   height: auto;
}

hr {
   background-color: #a3a3a3;
}
